@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/material-design-icons/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../font/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
         url(../font/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
         url(../font/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.contao-material-fe-helper .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
.contao-material-fe-helper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #ffa726;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.contao-material-fe-helper.topright, .contao-material-fe-helper.bottomright {
    right: 0;
    left: inherit;
}
.contao-material-fe-helper.bottomleft, .contao-material-fe-helper.bottomright {
    bottom: 0;
    top: inherit;
}
.contao-material-fe-helper a {
    color: #fff;
    display: block;
    padding: 5px 15px;
}