/**
 * LAYOUT
 */
html {
    color: #272727;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main,
footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (min-width : 993px) {
    .container {
        width: calc(70% + 240px);
    }
}

.side-nav {
    line-height: 1.5;
}

    .side-nav .collapsible {

    }

        .side-nav .collapsible li {
            min-height: 0;
        }

        .side-nav .collapsible .collapsible-header {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .side-nav .collapsible-body li {
        }

        .side-nav .collapsible li::before,
        .side-nav .collapsible a,
        .side-nav.fixed .collapsible a {
            vertical-align: middle;
        }

        .side-nav .collapsible li::before {
            content: "";
            min-height: inherit;
        }

        .side-nav .collapsible a {
            height: auto;
            min-height: 0;
            line-height: 1.5;
        }

/**
 * MAIN
 **/
.card.-main {
    overflow: visible;
}

    .card-content.-main {
        position: relative;
    }

    .card-image.-main {

    }

    .card-title.-main {
        margin-bottom: 52px;
    }

    .filters-form {
    }

    .card.-main .header-new {
        position: absolute;
        top: 300px;
        right: 0;
        transform: translate(-50%, -50%);
    }

    .toggle-buttons.-main {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }

        .toggle-buttons.-main:empty + .card-title.-main {
            margin-bottom: 0;
        }

    .subpanel {
        display: none;
        margin-bottom: 0;
    }

        .subpanel input[type=search] {
            margin-bottom: 0;
        }

.listing-container {

}

    .select-trigger {
        text-align: right;
    }

        .select-trigger label {
            padding-left: 0;
            padding-right: 55px;
        }

            .select-trigger label::before {
                left: auto;
                right: 20px;
            }

                .select-trigger [type="checkbox"]:checked + label:before {
                    left: auto;
                    right: 23px;
                }

.listing {

}

    .listing a,
    .listing .dropdown-content li > a {
        color: #757575;
    }

    .listing .row-container {
        position: relative;
    }

        .listing .level-0 .row-container::before,
        .listing .level-0 .row-container::after {
            content: "";
            position: absolute;
            z-index: 100;
            left: -.5px;
            width: calc(1rem + .5px);
            border-style: solid;
            border-color: #ddd;
            border-width: 0;
            background-color: #fff;
        }

        .listing .level-0 .row-container::before {
            top: 0;
            bottom: 0;
            border-left-width: 1px;
        }

        .listing .level-0 .row-container::after {
            top: calc(1.5rem - .5px);
            height: 1px;
            border-top-width: 1px;
        }

            .listing .level-0 .row-container:last-child::after {
                bottom: 0;
                height: auto;
            }

        .listing > .row-container > * {
            padding-left: 0;
            padding-right: 0;
        }

            .listing > .row-container > * > .actions {
                padding-right: 1rem;
            }

    .listing td:first-child {
        padding-left: 20px;
    }

    .listing td:last-child {
        padding-right: 20px;
    }

    .listing .odd {
        background-color: #f5f5f5;
    }

    .listing .row-headline {
        background-color: #e0e0e0;
    }

    .listing .collapsible {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1rem;
        padding-right: 0;
        border-top-width: 0;
    }

    .listing .collapsible-body {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        border-bottom-width: 0;
    }

    .listing .collapsible-header {
        position: relative;
        border-bottom-width: 0;
        line-height: inherit;
    }

        .listing .collapsible-header:only-child {
            padding-left: 4rem;
        }

            .listing .collapsible-header:only-child .record {
                padding-left: 0;
            }

        .listing .collapsible-header::before {
            content: "";
            height: 3rem;
        }

        .listing .collapsible-header::after {
            content: "";
            display: block;
            margin-left: 3rem;
            margin-right: -1rem;
            border-style: solid;
            border-top-width: 0;
            border-bottom-width: 1px;
            border-left-width: 0;
            border-right-width: 0;
            border-color: #ddd;
        }

            .listing > .row-container > .collapsible-header::after {
                margin-right: 0;
            }

            .listing .collapsible-header:only-child::after {
                margin-left: 0;
            }

        .listing .collapsible-header:hover a {
            color: #424242;
        }

        .listing .collapsible-header a img {
            display: block;
        }

        .listing .collapsible-header i {
            float: none;
        }

            .listing .collapsible-header .btn-icon i {
                display: inline-block;
            }

        .listing .collapsible-header .expand-icon {
            transition: transform .35s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

            .listing .collapsible-header.active .expand-icon {
                transform: rotate(180deg);
            }

    .listing .collapsible-header::before,
    .listing .item:not(td):not(th),
    .listing .actions:not(td):not(th),
    .listing .item > *,
    .listing .actions > *,
    .listing .record::before {
        display: inline-block;
        vertical-align: middle;
    }

    .listing .item {

    }

    .listing .actions {
        float: right;
        padding-top: calc((3rem - 32px) / 2);
        padding-bottom: calc((3rem - 32px) / 2);
        white-space: nowrap;
    }

        table.listing .actions {
            float: none;
            width: 1%;
        }

        .listing .actions i {
            margin-right: 0;
        }

        .listing .actions .btn-icon {
            height: 32px;
            width: 32px;
            background-color: #fff;
        }

            .listing .actions .btn-icon:hover,
            .listing .actions .btn-icon:focus {
                background-color: #f5f5f5;
            }

            .listing .actions .paste-after-action {
                background-color: #f5f5f5;
            }

                .listing .actions .paste-after-action:hover,
                .listing .actions .paste-after-action:focus {
                    background-color: #eee;
                }

            .listing .actions .btn-icon i {
                line-height: 32px;
            }

        .listing .paste-into-icon {
            transform: rotate(180deg);
        }

        .listing .paste-after-action {
            position: absolute;
            z-index: 500;
            bottom: 3px;
            right: 20px;
            transform: translateY(50%);
        }

    .listing .dropdown-actions-container {
        position: relative;
    }

    .listing .dropdown-content {
        right: 0 !important;
    }

        .listing .dropdown-content i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }

    .listing .record {
        min-height: 3rem;
        padding-left: 3rem;
        clear: both;
    }

        .listing .record:last-child {
            min-height: 3.75rem;
            padding-bottom: .75rem;
        }

        .listing .record::before {
            content: "";
            min-height: 3rem;
        }

    .listing .row-container .collapsible-header:hover,
    .listing.highlight > tbody > tr:hover {
        background-color: #fff3e0;
    }

/**
 * STYLES
 */
.card {

}
    .card .card-title {
        color: inherit;
    }

        .card > .card-content:first-child > .card-title:first-child {
            margin-top: 0;
        }

    .card .card-action {

    }

        .card .card-action .btn {
            background-color: #ffb74d;
        }

        .card .card-action .btn-flat {
            color: #ffab40;
            transition: color .3s ease;
        }

            .card .card-action .btn-flat:focus {
                background-color: transparent;
            }

            .card .card-action .btn-flat:hover {
                color: #ffd8a6;
            }

.card-panel {
    color: #fff;
}

    .card-panel.-error {
        background-color: #E57373;
    }

    .card-panel.-confirm {
        background-color: #81c784;
    }

    .card-panel.-new {
        background-color: #fbc02d;
    }

    .card-panel.-info {
        background-color: #64b5f6;
    }

    .card-panel p {

    }

        .card-panel > p:first-child {
            margin-top: 0;
        }

        .card-panel > p:last-child {
            margin-bottom: 0;
        }

    .card-panel a {
        display: inline-block;
        color: #fff;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

.btn-icon {
    height: 36px;
    width: 36px;
    padding: 0;
    border-radius: 100%;
    background-color: #fafafa;
    text-align: center;
}

    .btn-icon.is-active {
        background-color: #ffa726 !important;
        color: #fff;
    }

[type="checkbox"] + label:empty {
    padding-left: 18px;
}

.paste-hint {
    position: relative;
}

    .paste-hint .card-panel {
        padding-right: 56px;
    }

    .paste-hint-icon {
        position: absolute;
        top: 50%;
        right: 20px;
        font-size: 36px;
        transform: rotate(270deg) translateX(50%);
    }

    .paste-hint + .listing-container .listing .collapsible-header::after {
        height: 6px;
        border-top-width: 1px;
        background-color: #ffe0b2;
    }
