body {
    overflow-x: hidden;
    overflow-y: scroll;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.7em;
}
h4 {
    font-size: 1.5em
}
h5 {
    font-size: 1.3em;
}
h6 {
    font-size: 1.1em;
}
#modal {
    z-index: 99999 !important;
}
.padding20 {
    padding: 20px;
}
.margin20 {
    margin: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.invisible {
    display: none;
}
.inactive-option {
    opacity: .3;
}
span.mandatory {
    color: #c33;
}
.w50 {
    width: 49%;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
}

@media (max-width: 991px) {
    .w50 {
        width: 100%;
    }
}

.cover-img {
    position: relative;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    .cover-img:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3);
    }

.card .card-image .card-title {
    font-weight: 500;
    font-size: 26px;
    background-color: rgba(255,255,255,0.4);
    margin-left: 20px;
}

.collapsible {
    box-shadow: none;
    border-right: 0;
    border-left: 0;
}
.side-nav .collapsible-header {
    font-weight: bold;
}
.dca-edit .collapsible-header {
    font-size: 1.3rem;
    line-height: 3.9rem;
    color: #ffa726;
    font-weight: bold;
    min-height: inherit;
}

.collapsible-body {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.collapsible-body h3 {
    margin-bottom: 0;
    margin-top: 0;
}
.collapsible-body input {
    width: 100%;
    margin-bottom: 0;
}
    .collapsible-body input.tl_text_trbl {
        width: 19%;
    }
    .collapsible-body .tl_select_unit+.select2-container {
        width: 19% !important;
    }
    .collapsible-body .tl_imageSize_0.tl_text_4,
    .collapsible-body .tl_imageSize_1.tl_text_4 {
        width: 29%;
    }
    .collapsible-body .tl_select_interval+.select2-container {
        width: 39% !important;
    }
    .collapsible-body .w50 .tl_checkbox_single_container {
        margin: 50px 0 0 0;
    }
    .collapsible-body .tl_radio_table+.tl_tip.tl_help {
        margin-top: -9px;
    }
.wizard .tl_text {
    width: calc(100% - 25px);
}
    .wizard .tl_text+a img {
        margin-top: 25px;
    }
.tl_listwizard .tl_text {
    width: calc(100% - 100px);
}
.tl_checkbox_wizard .sortable span {
    display: block;
}
.tl_tip, p.tl_tip, .card-content p.tl_tip {
    padding: 0;
    margin-top: 5px;
    color: #9e9e9e;
    font-size: 0.8rem;
}
.tl_tip .help-icon {
    margin-right: 5px;
    vertical-align: top;
}

.tl_error:not(.tl_tip) {
    background-color: #E57373;
    color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.tl_error.tl_tip {
    color: #E57373;
    font-weight: bold;
    padding: 10px 0;
}
.collapsible-body label {
    font-size: 1.2rem;
}
.collapsible-body .input-field {
    max-width: 580px;
}
.collapsible-body h3 + .input-field {
    margin-top: 0;
}

.table-header {
    line-height: 0.5rem;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}
.table-header td:first-child {
    width: 1%;
    white-space: nowrap;
    padding: 0px 5px;
    margin: 0;
    font-weight: bold;
}

.item.-article {
    margin-left: 2rem;
}

.right-header {
    position: absolute;
    right: 20px;
    margin-top: 8px;
}

.parent_view {
    padding: 20px;
}

.parent_view .tl_content {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 40px;
    line-height: 40px;
}

.limit_height {
    overflow: hidden;
}
.limit_toggler {
    margin-top: 1rem;
}

.limit_toggler.open i.material-icons {
    transform: rotate(180deg);
    transition: transform .35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.messages {
    margin-left: 20px;
    margin-right: 20px;
}
.welcome .messages,
.card-content .messages {
    margin-left: 0;
    margin-right: 0;
}

figure {
    margin: 1rem 0;
}

img.preview {
    margin: 5px 0 5px 22px;
}
.breadcrumb li {
    display: inline-block;
    padding: 0 3px;
}
.breadcrumb li img {
    vertical-align: -5px;
}
.tl_content_header {
    background-color: #e0e0e0;
    padding: 5px 5px;
}
.tl_content_left {
    padding: 5px;
}

.cte_type.published, .cte_type.unpublished {
    display: inline-block;
    position: relative;
    height: 32px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 16px 0 40px;
    border-radius: 16px;
    background-color: #e4e4e4;
    transition: background-color .5s;
}

.cte_type.published {
    background-color: #a0e7a0;
}
.cte_type.unpublished {
    background-color: #ff9994;
}

.cte_type.published:before, .cte_type.unpublished:before {
    position: absolute;
    left: 0;
    font-size: 1.3rem;
    font-family: 'Material Icons';
    height: 32px;
    border-radius: 1rem;
    padding-right: 8px;
    padding-left: 8px;
    transition: background-color .5s;
}

.cte_type.published:before {
    content: "\E8F4";
    background-color: #77DD77;
}
.cte_type.unpublished:before {
    content: "\E8F5";
    background-color: #ff6961;
}

.toggle-version {
    position: absolute;
    right: 20px;
    top: 8px;
}

.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 3rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 3rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3rem;
}
.select2-container--default .select2-selection--single {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}
main {
    margin-top: 64px;
}
nav {
    color: #444;
    height: 64px;
    line-height: 64px;
}
.side-nav {
    top: 64px;
    overflow-y: overlay;
    height: calc(100% - 64px);
}

.side-nav .collapsible-body {
    padding: 0;
}
.side-nav .collapsible-body li a {
    margin: 0;
    padding: 12px 0 12px 4rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 1.5rem;
}
.side-nav .collapsible-body a.active {
}
.side-nav .collapsible .collapsible-header {
    padding-left: 0;
    padding-right: 0;
}
.side-nav .collapsible-header .expand-icon {
    transition: transform .35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.side-nav .collapsible-header.active .expand-icon {
    transform: rotate(180deg);
}
.side-nav .collapsible-header i {
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.logo-contao-nav {
    height: 45px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
}

.side-nav .collapsible-body li {
    padding-top: 0;
    padding-bottom: 0;
}


footer .footer {
    border-top: 1px solid #bdbdbd;
    position: relative;
    margin-top: 2rem;
}
footer .footer .go-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer .footer .copyright {
    margin-top: 2rem;
}

.header-back {
    position: absolute;
    top: 8px;
}
.card .card-action {
}
.card.-main {
    position: relative;
}

.paste-action-simple {
    background-color: #ffa726 !important;
    color: #fff !important;
}
.paste-action-simple i {
    font-size: 1.6rem;
    line-height: inherit;
    text-align: center;
    width: 2rem;
    display: inline-block;
}

.modal {
    height: 100%;
    overflow-y: hidden;
}
.modal.modal-fixed-footer .modal-content {
    overflow-y: inherit;
}
.modal-content {
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.selector_container p {
    margin: 0;
    padding: 0;
}
.selector_container p a.tl_submit {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: #fff;
    background-color: #bdbdbd;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.dz-container {
    padding: 6px;
    border: 3px dashed #ddd;
}

.dz-message {
    cursor: pointer;
    padding: 36px 18px;
    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.dz-message span {
    font-size: 21px;
    font-size: 1.3125rem;
    color: #ccc;
}

.dropdown-content li {
    font-size: 1.2rem;
    display: block;
    color: #757575;
}
.dropdown-content li>a, .dropdown-content li>span {
    font-size: inherit;
    padding: 0;
    display: block;
    padding: 1rem 1rem;
}
.dropdown-content li>span>i {
    height: inherit;
    line-height: inherit;
}
.dropdown-content li>span.inactive-option {
    display: inline-block;
    margin-right: 2rem;
}

span.inactive-option {
    width: 32px;
}

/* Couleurs */
.accent.-c100:not(.text) {
    background-color: #ffcc80;
}
.accent.-c200:not(.text) {
    background-color: #ffb74d;
}
.accent.-c300:not(.text) {
    background-color: #ffa726;
}

.accent.-c100.text {
    color: #ffcc80;
}
.accent.-c200.text {
    color: #ffb74d;
}
.accent.-c300.text {
    color: #ffa726;
}

.primary.-c100:not(.text) {
    background-color: #eeeeee;
}
.primary.-c200:not(.text) {
    background-color: #e0e0e0;
}
.primary.-c300:not(.text) {
    background-color: #bdbdbd;
}

.primary.-c100.text {
    color: #eeeeee;
}
.primary.-c200.text {
    color: #e0e0e0;
}
.primary.-c300.text {
    color: #bdbdbd;
}

.tl_gray {
    color: #b3b3b3;
}
.pagination {
    min-height: 4rem;
    padding: 0 20px;
}
.card-content .pagination {
    min-height: inherit;
    padding: 0;
}
.card-content .pagination p,
.pagination p {
    max-width: 30%;
    float: left;
    margin-top: 20px;
}
.pagination ul {
    max-width: 60%;
    float: right;
}
.pagination li {
    padding: 0;
    line-height: inherit;
}
    .pagination .current,
    .pagination a {
        padding: 4px 10px;
        border-radius: 2px;
    }
    .pagination a:hover {
        background-color: #f5f5f5;
    }
    .pagination .current {
        background-color: #ffa726;
        color: #fff;
    }

/* popup */
.popup .alerts {
    display: none;
}
.popup main {
    padding: 0;
    margin: 0;
}
.popup .container {
    width: 100%;
}
.popup .cover-img {
    height: 150px;
}
.popup .card.-main .header-new {
    top: 150px;
}

#diff .change {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 15px 0;
}
#diff .change h2 {
    font-size: 1.5rem;
    padding: 10px 6px 10px;
    margin: 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

#diff .left {
    float: none !important;
}
#diff .right {
    float: none !important;
}

#diff .replace.left,#diff .delete.left {
    background: #fdd;
}

#diff .replace.right,#diff .insert.right {
    background: #dfd;
}

#diff .replace ins {
    color: #060;
    background: #bfb;
}

#diff .replace del {
    color: #a00;
    background: #fbb;
}

#diff ins,#diff del {
    text-decoration: none;
}

#diff dl {
    margin: 0;
    padding: 0;
}

#diff dt,#diff dd {
    margin: 0;
    padding: 2px 6px 1px;
}

@media (max-width: 600px) {
    header {
        position: inherit;
    }
    main {
        margin-top: inherit;
    }
    .brand-logo span {
        display: none;
    }
}
/* $('link:not(link[href^="system/modules/contao-material"], link[href^="system/modules/contao-material"] ~ link)').detach() */


.list_icon {
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
    padding-left: 2rem;
}

/* Navigation */

.navigation.article {
    background-image: url(/system/modules/contao-material/assets/icon/article.png) !important;
}
.navigation.news {
    background-image: url(/system/modules/contao-material/assets/icon/news.png) !important;
}
.navigation.calendar {
    background-image: url(/system/modules/contao-material/assets/icon/calendar.png) !important;
}
.navigation.faq {
    background-image: url(/system/modules/contao-material/assets/icon/faq.png) !important;
}
.navigation.newsletter {
    background-image: url(/system/modules/contao-material/assets/icon/newsletter.png) !important;
}
.navigation.form {
    background-image: url(/system/modules/contao-material/assets/icon/form.png) !important;
}
.navigation.comments {
    background-image: url(/system/modules/contao-material/assets/icon/comment.png) !important;
}
.navigation.themes {
    background-image: url(/system/modules/contao-material/assets/icon/theme.png) !important;
}
.navigation.page {
    background-image: url(/system/modules/contao-material/assets/icon/page.png) !important;
}
.navigation.tpl_editor {
    background-image: url(/system/modules/contao-material/assets/icon/tpl_editor.png) !important;
}
.navigation.columnset {
    background-image: url(/system/modules/contao-material/assets/icon/columnset.png) !important;
}
.navigation.member {
    background-image: url(/system/modules/contao-material/assets/icon/member.png) !important;
}
.navigation.mgroup {
    background-image: url(/system/modules/contao-material/assets/icon/mgroup.png) !important;
}
.navigation.user {
    background-image: url(/system/modules/contao-material/assets/icon/user.png) !important;
}
.navigation.group {
    background-image: url(/system/modules/contao-material/assets/icon/group.png) !important;
}
.navigation.files {
    background-image: url(/system/modules/contao-material/assets/icon/files.png) !important;
}
.navigation.log {
    background-image: url(/system/modules/contao-material/assets/icon/log.png) !important;
}
.navigation.settings, .navigation.config {
    background-image: url(/system/modules/contao-material/assets/icon/settings.png) !important;
}
.navigation.maintenance {
    background-image: url(/system/modules/contao-material/assets/icon/maintenance.png) !important;
}
.navigation.undo {
    background-image: url(/system/modules/contao-material/assets/icon/undo.png) !important;
}
.navigation.composer {
    background-image: url(/system/modules/contao-material/assets/icon/composer.png) !important;
}
.navigation.autoload {
    background-image: url(/system/modules/contao-material/assets/icon/autoload.png) !important;
}
.navigation.extension {
    background-image: url(/system/modules/contao-material/assets/icon/extension.png) !important;
}
.navigation.labels {
    background-image: url(/system/modules/contao-material/assets/icon/labels.png) !important;
}
.navigation.post_install {
    background-image: url(/system/modules/contao-material/assets/icon/post_install.png) !important;
}
.navigation.check {
    background-image: url(/system/modules/contao-material/assets/icon/check.png) !important;
}
.navigation.feedback, .navigation[class*='fd_'] {
    background-image: url(/system/modules/contao-material/assets/icon/form_data.png) !important;
}

/* FIX module contao codés en dur (newsletter, ...) */
.tl_submit_container {
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
}
    .tl_submit_container .tl_submit {
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        outline: 0;
        padding: 0 2rem;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
        color: #ffb74d;
        background-color: transparent;
    }
    .tl_submit_container .tl_submit:first-child {
        text-decoration: none;
        color: #fff;
        background-color: #ffb74d !important;
        text-align: center;
        letter-spacing: .5px;
        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        -o-transition: .2s ease-out;
        -ms-transition: .2s ease-out;
        transition: .2s ease-out;
        cursor: pointer;
    }

.tl_newsletter_send {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1rem;
}
.tl_formbody_edit label {
    font-size: 1.2rem;
}